@model IEnumerable<pruebaPacifica.Models.Departamento>

@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="formFrame">
        <form action="Registro/Registrar" method="post">
            <input class="customInput" type="text" name="nombre" value="" placeholder="Nombre" />
            <input class="customInput" type="text" name="apellido" value="" placeholder="Apellido" />
            <input class="customInput" type="text" name="documento" value="" placeholder="Documento" />
            <input class="customInput" type="text" name="email" value="" placeholder="Email" />
            <input class="customInput" type="text" name="nacimiento" value="" placeholder="Fecha de nacimiento" />
            <input class="customInput" type="text" name="celular" value="" placeholder="Celular" />
            <label class="labelCheck">¿Distrito?</label>
            <input class="customInput" type="checkbox" value="" id="parroquiaCheck" />
            <select id="departament" class="customInput hidde" required>
                <option value="">Departamento</option>
                @foreach (var item in Model)
                {
                    <option value="@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.nombre)</option>
                }
            </select>
            <select id="province" class="customInput hidde">
                <option value="Canton">Provincia</option>
            </select>
            <select name="distrito_id" id="distritoId" class="customInput hidde">
                <option  value="">Distrito</option>
            </select>
            <hr class="whiteHr" />
            <label class="labelCheck">Motivo</label>
            <select name="motivo" class="customInput">
                <option value="1">Preguntas</option>
                <option value="2">Quejas</option>
                <option value="3">Reclamos</option>
                <option value="4">Sujerencias</option>
            </select>
            <input class="customInput" type="text" name="mensaje" value="" placeholder="Mensaje" />
            <div class="center-div">
                <input class="btn-success btnSubmit" type="submit" value="Enviar" />
            </div>
        </form>
    </div>
</div>
 